:root {
    --warm-cream: #E0DAD0;
    --pale-pink: #E5CCD8;
    --dusty-rose: #E3D0D6;
    --lavender-gray: #E1D5E3;
    --soft-lilac: #E0CBED;
    --pastel-purple: #C5B9CF;
    --cool-gray: #C1BDD1;
    --vivid-rose: #DCA5CA;
    --deep-rose: #BD7EA8;
    --dusty-mauve: #9979A0;
    --rich-purple: #8C799C;
    --muted-plum: #816C77;
    --soft-beige: #B39792;
    --warm-gold: #DAB94F;
    --muted-indigo: #535683;
    --deep-navy: #353549;
    --midnight-blue: #33395C;
    --charcoal: #3B393D;
    --olive-brown: #675C38;
    --onyx-black: #252027;
}

/*
==============================
    Page
==============================
*/
* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", Arial, sans-serif;
    background-image: url("../public/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    color: var(--pastel-purple);
}
a {
    color: var(--warm-gold);
}
.content {
    margin-top: 100px;
}
.title h1 {
    font-size: 10vw;
    font-weight: bolder;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 30%;
    mix-blend-mode: difference;
    color: white;
}
.title h2 {
    font-size: 8vw;
    font-weight: bolder;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    mix-blend-mode: difference;
    color: white;
}
.content > section:not(:first-child) {
    padding: 5%;
    background-color: var(--deep-navy);
    position: relative;
    z-index: 0;
    filter: opacity(0.95);
}
.content > section > h2 {
    scroll-margin-top: 110px;
}
/*
==============================
    Naviguation Bar
==============================
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    background-color: var(--midnight-blue);
    padding: 10px 20px;
    z-index: +1;
}

header .logo {
    height: 60px;
    transition: filter 0.3s;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    padding: 26px 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header ul li a:hover {
    color: var(--warm-gold);
}

header .logo:hover {
    filter: brightness(0) saturate(100%) invert(57%) sepia(99%) saturate(313%) hue-rotate(1deg) brightness(95%) contrast(92%);
}

/*
==============================
    Footer
==============================
*/

footer {
    margin: 0;
    padding: 0;
    background-color: var(--onyx-black);
    font-size: 0.9em;
}
footer p {
    margin: 0;
    padding: 1%;
}

/*
==============================
    Index
==============================
*/


#description {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: var(--deep-navy);
    display: flex;
    position: relative;
    z-index: 0;
    filter: opacity(0.95);
}
#description div {
    position: relative;
    z-index: 1;
    padding: 5%;
}
#description h2 {
    text-align: center;
    font-size: 2em;
}
#description > div:not(:first-child) {
    width: 45%;
    z-index: 1;
    background-color: var(--muted-indigo);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    filter: saturate(1.5);
}
#description:not(:first-child) img {
    position: relative;
    width: 40vw;
    z-index: 1;
    padding: 3%;
    background-color: var(--deep-navy);
    border-radius: 20px;
}
#description > div:first-child > img {
    width: 100%;
}
#description > div:not(:first-child) > p {
    position: relative;
    padding: 5%;
}
#description > div:not(:first-child) > audio {
    position: relative;
    z-index: 1;
    width: 100%;
    outline: none;
    margin-left: 3%;
    margin-top: 10px;
    transform: translateY(-72px);
}
#socials > ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

#socials > ul > li {
    position: relative;
    margin: 20px 0;
}

#socials > ul > li a {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 16px 250px;
    transition: all 0.3s ease;
}

#socials > ul > li img {
    width: 100px;
    filter: brightness(0.7);
    transition: transform 0.3s ease;
    z-index: 2;
}

#socials > ul > li h2 {
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.3s ease;
    white-space: nowrap;
    color: white;
    font-size: 1.5em;
    z-index: 1;
}

#socials > ul > li a:hover img {
    transform: translateX(250px);
    filter: brightness(1);
}

#socials > ul > li a:hover h2 {
    opacity: 1;
    transform: translateX(0px);
}